{% extends "cartao/base.html" %}
{% load crispy_forms_tags %}
{% block conteudo %}
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 p-5">

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 p-5">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>{{ form|crispy }}  </div>
        <input type="submit" value="Criar" class="btn input-group" style="background: rgb(163, 250, 138)" >
    </form>
         </div>
    <div class="col-lg-4 col-md-4 col-sm-12 p-5">

    </div>
</div>
{% endblock conteudo %}